
.search-form {
    position: absolute;
    width: 728px;
    height: auto;
    top: 260px;
    left: 262px;
    z-index: 4;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-align: left;
}

.search-form h2 {
    color: #ffffff;
    margin: 0;
}

.search-form-container {
    background: linear-gradient(180deg, #526474 0%, #5D6A77 100%);
    height: 370px;
    padding: 32px 44px 32px 44px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.car-search-options {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.car-search-form-fields {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

.car-search-form-fields div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
}

.car-search-form-fields select,
.car-search-form-fields input {
    height: 40px;
    padding: 8px;
    border: none;
    background-color: #FFFFFF;
    appearance: none;
    background-image: url("/images/triangle.png");
    background-repeat: no-repeat;
    background-position: right 10px center;
}

.car-search-form-fields input,
.car-search-form-fields select,
.car-search-form-fields option[disabled],
.car-search-form-fields ::placeholder {
    color: #535353;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

.car-search-btn {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 31px;
    margin-top: 32px;
}

.extended-search-btn{
    border: 2px solid #FFFFFF;
    background-color: transparent;
}

.search-btn{
    background-color:  #3b454e;
}

.search-btn,
.extended-search-btn
{
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    color: #ffffff;
}

.button-group {
    display: flex;
    border: 1px solid #ffffff;
    border-radius: 5px;
    width: auto;
    height: 39px;
}

.radio-button {
    border-left: 1px solid #ffffff;
    padding: 8px;
    transition: background-color 0.3s;
    border-radius: 0;
    background-color: transparent;
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
}

.radio-button.active {
    outline: none;
    background-color: #ffffff;
    color: #2E4F76;
    text-decoration: none;
}

.radio-button:not(.active):hover {
    background-color: transparent;
}


.vin-check {
    display: flex;
    align-items: center;
    height: 40px;
}

.vin-check-label {
    border-radius: 5px;
    background-color: #2E4F76;
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
    justify-content: center;
    padding: 0 8px;
    line-height: 40px;
}

.custom-checkbox {
    width: 41px;
    height: 41px;
    border-radius: 5px;
    background: #D9D9D9;
    position: relative;
    display: inline-block;
    margin-left: 10px;
}

.custom-checkbox input[type="checkbox"] {
    width: 100%;
    height: 100%;
    margin: 0;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
}

.custom-checkbox .checkmark {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    display: block;
    position: relative;
}

.custom-checkbox input[type="checkbox"]:checked + .checkmark::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 16px;
    height: 30px;
    border: solid black;
    border-width: 0 5px 5px 0;
    transform: translate(-50%, -70%) rotate(45deg);
    display: block;
}
