
.bg-img {
    display: grid;
    justify-content: end;
    width: 100%;
    position: relative;
}

.content-title{
    position: absolute;
    left: 264px;
}

.title-1{
    top: 1203px;
}

.title-2{
    top: 2196px;
}

.titles{
    font-family: "Montserrat", sans-serif;
    font-size: 32px;
    font-weight: 700;
    text-align: left;
    color: #3B454E;
    line-height: 40px;
    text-transform: uppercase;
}

.center-width{
    left: 50%;
    transform: translateX(-50%);
}

.logo-container{
    width: 1225px;
    position: absolute;
    top: 1851px;
}

.digest-container{
    position: absolute;
    width: 1310px;
    top: 2304px;
    margin-top:63px;
}

.solid-container{
    position: absolute;
    top: 2950px;
    padding: 21px;
    width: 100%;
    height: 537px;
    background-color: #3B454E;
}

.solid-container h3{
    color: #ffffff;
    text-align: center;
}