
.logo-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 13px;
}

.logo-item {
    text-align: center;
    margin: 10px;
    transition: opacity 0.3s ease;
}

.logo-item:hover {
    opacity: 0.7;
}

.logo-item img {
    max-width: 100px;
    height: auto;
}

.logo-item span {
    display: block;
    margin-top: 10px;
}

.more-button {
    border-radius: 5px;
    padding: 12px 24px 12px 24px;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    background-color: #ffffff;
    color: #2E4F76;
    border: 1px solid #2E4F76;
}

.more-button:hover {
    background-color: #2E4F76;
    color: #ffffff;
    border: 1px solid #2E4F76;
}