.layout {
    width: 1920px;
    height: 4148px;
    margin: 0 auto;
    opacity: 1;
    position: relative;
    background-color: #FFFFFF;
}

.header{
    width: 1919px;
    height: 1080px;
    background-color: #8C9BA9;
    padding: 0;
}

.footer{
    width: 1919px;
    padding: 0;
    height: 510px;
}

.logo {
    height: 50px;
    width: auto;
}