
.car-card {
    padding: 15px 0;
    border-radius: 20px;
    border: 2px solid #8C9BA9;
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
    overflow: hidden;
    position: relative;
}
.car-card .content {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.car-card .img-car {
    width: 100%;
    height: 172px;
    border-radius: 12px;
    object-fit: cover;
    position: relative;
}

.like-circle-1 {
    width: 54px;
    height: 54px;
    background-color: #ffffff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 165px;
    right: 40px;
    z-index: 1;
    padding: 5px;
}

.like-circle-2 {
    width: 44px;
    height: 44px;
    background-color: #D9D9D9;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.like-circle-2 .content {
    width: 24px;
    height: 34px;
    font-family: 'Karla', sans-serif;
    font-size: 11px;
    font-weight: 400;
    line-height: 13px;
    text-align: center;
    color: #707070;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.like-circle-2 .content img {
    width: 14px;
    height: 13px;
    margin-bottom: 0;
}

.car-details {
    font-family: "Montserrat", sans-serif;
    color: #707070;
    justify-content:center;
}

.car-details h3 {
    font-size: 20px !important;
    font-weight: 700;
    line-height: 24px !important;
}

.car-details .price {
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    color: #254083;
    margin-top: 20px;
}

.car-details p {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin: 10px 0 0 0;
}
.car-details p img {
    margin-right:  10px;
}

.car-details hr{
    border: none;
    height: 1px;
    background-color: #707070;
}

.geo-image{
    height:16px;
    width: 16px;
}